body {
    background-color: rgb(53, 13, 82);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

header {
    color:antiquewhite;
    }

.d1 {
    margin-top: auto;
    background-color: indigo;
    padding:auto;
    line-height:50px;
    border-radius: 10px;
}

button{
    border-radius: 10px;
    padding: 10px;
    size: 90px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(92, 89, 117, 0.322);
    border-width: 0;
    color: aqua;
}

button:hover{
    background-color: rgba(218, 0, 120, 0.795);
    transition: 0.5s;
    box-shadow: 90%;
    color:yellow;
}