body {
    background-color: rgb(53, 13, 82);
    font-family: 'Courier New', Courier, monospace;
}

p{
    color:antiquewhite;
}

header{
    color:antiquewhite;
    text-align: center;
}


nav ul{
    list-style-type: none;
}

nav a{
    margin-top:10px;
    color: antiquewhite;
    font-size: larger;
    text-decoration: none;
}

a:hover{
    color:rgb(244, 244, 0);
}
nav li:hover a{
    font-weight: bold;
}

.clearfix:after {
    content:" ";
    display:block;
    clear:both;
}

.sous {
    display:none;
    margin-left: 0;
    padding-left: 0;
}


.check{
    color:antiquewhite;
}

nav > ul li:hover .sous{
    display:block;
}
input[type=checkbox]:checked~nav > ul li .sous{
    display:block;
}
nav > ul > .sous{
    display:block;
}


@media screen and (max-width:1050px) {
    

    nav ul li{
        padding-bottom: 5px;
        padding-top: 5px;
        float: none;
        width:100%;
        text-align: center;
    }

    nav{
        background-color: rgb(11, 143, 143);
        width:108%;
        margin-left:-3%;
    }

    .sous li{
        float:none;
        text-align: center;
        width:108%;
        background-color: blueviolet;
        margin-left: -8%;
        text-indent: 8%;
    }
}

@media screen and (min-width:1051px) {
    nav {
        background-color: rgba(218, 0, 120, 0.795);
    }

    .check{
        display: none;
    }


    nav ul li{
        float:left;
        width:fit-content;
        position:relative;
        width:13%;
        padding:5px;
        border: 2px solid transparent;
        text-align: center;
        
    }


    .sous {
        display:none;
        position: absolute;
        width:100%;
        z-index: 1000;
        margin-top: 7px;
        margin-left: 3%;
    }

    .sous li{
        float:none;
        text-align: left;
        width:80%;
        background-color: blueviolet;
        margin-left: 0;
    }

    nav ul li:hover{
        border: 2px solid rgb(218, 203, 0);
    }

}