body{
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    text-align:center;
    background-color: rgb(35, 32, 75);
}


form {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    line-height: 250%;
    background-color:rgb(238, 238, 238) ;
    padding: 10px 50px;
    border-radius: 10px;
}

button[type="submit"] {
    background-color: rgba(41, 41, 41, 0.178);
    border-radius: 10px;
}

.button[type="submit"]:hover {
    background-color: rgba(53, 53, 53, 0.507);
}

div{
    text-align: center;
    border-radius: 5%;
    background-color: antiquewhite;
    margin-top: 10%;
    margin-left: 25%;
    margin-right: 25%;
    line-height: 200%;
    padding: 5% 5%;
}

img{
    border-radius: 50%;
}